*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 15%;
}

.main_wrapper {
    padding-top: 30px;
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.content {
    height: 1000px;
    /* background-color: blue; */
}

.info {
    border-radius: 10px;
}


img {
    border-radius: 20px;
    border: 1px solid black;
    width: 300px;
}

.name {
    margin:20px 0;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
}

.item {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.control {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    width: 80px;
    height: 30px;
}

.active{
    background-color: red;
}