*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

h3 {
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
    font-size: 18px;
}
.container {
    width: 100%;
    display: flex;
    padding: 50px;
    border: 1px solid black;
}

.avatar {
    width: 50%;
}

.avatar img {
    width: 80%;
    border-radius: 10px;
}

.info {
    padding: 20px 0;
    width: 50%;
}

.flex {
    display: flex;
}

.flex i {
    margin-right:10px;
    font-size: 20px;
}

.address {
    font-style: italic;
}

button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(42, 42, 196);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}